{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block main %}

  <p>Your tree is:</p>

  <a href="" onclick="if (tree) { tree.start(); $(this).hide(); }; return false; " id="StartTreeLink">Start Tree!</a>

  <div id="DemoHere" class="externalWidgetNormal">
  </div>

  <div style="padding-top: 50px;">
      <p>This is a link to  <a href="http://www.google.com">google</a>. This is so you can jump to a different web page half way through running the tree, then press back and make sure the tree still works!</p>
  </div>

  {%  include 'QuestionKeyBundle:Tree:demo.selector.html.twig' %}

{% endblock %}

{% block javascript %}
  {% javascripts
      '@QuestionKeyBundle/Resources/public/js/external/cascade-jquery-v1.js'  output='/js/external/cascade-jquery-v1.js' %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script>
    var tree;
    $( document ).ready(function() {
      tree = new QuestionKeyCascadeTree("#DemoHere", {'treeId':'{{ tree.publicId|e('js') }}', 'logUserActions':false, 'browserHistoryRewrite':true });
      window.onpopstate = function(event) {
          tree.onWindownPopState(event);
      };
    });
  </script>
{% endblock %}
