{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

<ul>
    <li><a href="{{ path('questionkey_tree_demo', {'treeId':tree.publicId }) }}">Normal Widget</a></li>
    <li><a href="{{ path('questionkey_tree_demo_cascade', {'treeId':tree.publicId }) }}">Cascade Widget</a></li>
</ul>

