{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

<ul>
    <li><a href="{{ path('questionkey_tree_version_preview_demo', {'treeId':tree.publicId,'versionId':treeVersion.publicId,'code':code }) }}">Normal Widget</a></li>
    <li><a href="{{ path('questionkey_tree_version_preview_demo_cascade', {'treeId':tree.publicId,'versionId':treeVersion.publicId,'code':code }) }}">Cascade Widget</a></li>
</ul>

