{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

<ul>
    <li><a href="{{ path('questionkey_admin_tree_version_run', {'treeId':tree.publicId,'versionId':treeVersion.publicId  }) }}">Normal Widget</a></li>
    <li><a href="{{ path('questionkey_admin_tree_version_run_cascade', {'treeId':tree.publicId,'versionId':treeVersion.publicId  }) }}">Cascade Widget</a></li>
</ul>

